.container{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;

}
.item{
    background: black;
    width: 100px;
    height: 100px;
    margin:10px;
    color: white;
    text-align: center;
    line-height: 100px;

}