@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
    font-family: 'advent', sans-serif;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;

}

h2{
    text-decoration: uppercase;
    text-align: center;
    padding-top:30px;
    font-size: 2em;
}
a{
    text-decoration:none;
    color: black;
}
/*************************navbar**************** */
nav{
    overflow: hidden;
    background-color: #fffae1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li{
    
}